.wrapper{
    background-image: url(../img/mine.jpg);
}


main{
    width: 100%;
    max-width: 1300px;
    height: calc(100vh - 4rem);
}

.gs-prof-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

header{
    background-color: #eaeaea;
    height: 50px;
}

#bell-container{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#notification{
    height: 60px;
}


.medium-text{
    line-height: .7rem;
    font-size: .9rem;
}

.small-text{   
    font-size: .7rem;
}

#search{
    border-radius: 10px;
    height: 35px;
}

#search button{
    width: 25px;
    height: 25px;
    background-color: transparent;

}

#search-bar{
    width: calc(100% - 30px) ;
    background-color: transparent;
    border: none;
}

#contacts-list{
    height: calc(100% - 145px);
}

#messages{
    height: calc(100% - 100px);
}


.message-block{
    position: relative;
    padding: 1rem .8rem;
    width: 180px;
    background-color: white;
    border-radius: 10px;
    line-height: 1rem;
}

.message-block::after{
    position: absolute;
    content: "18:00";
    font-size: .6rem;
    bottom: 3px;
    right: 8px;
}

.sent{
    left: 100%;
    transform: translateX(-100%);
    background-color: #d5f9ba ;
}

#bottom-bar{
    height: 50px;
}

#type-bar{
    border-radius: 10px;
    border: none;
}

#bottom-bar{
    background-color: #eaeaea;
}

#bottom-bar input{
    width: 80%;
}

#bottom-bar .bar-icon{
    width: 76px;
}

 
@media screen and (max-width: 570px) {
    main{
        height: 100vh;
    }
}